<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/fragments :: head">

  </head>
  <body>
      <nav th:replace="fragments/fragments :: header">
      
    </nav>

    <div class="container">
      <div class="row">
        <main class="col-sm-12" role="main">
          <h1><i class="fa fa-cog" aria-hidden="true"></i> Data Keluarga</h1>
          <form th:object="${keluarga}" th:action="${oldkeluarga.nomor_kk} == null ? '/keluarga/tambah' : '/keluarga/ubah/' + ${oldkeluarga.nomor_kk}" method="POST">
			  <div class="form-group">
			    <label for="inputAlamat">Alamat</label>
			    <input required="required" name="alamat" th:value="${oldkeluarga.alamat}" type="text" class="form-control" id="inputAlamat" />
			  </div>
			  
			  <div class="form-group">
			    <label for="inputRt">RT</label>
			    <input required="required" name="RT" th:value="${oldkeluarga.RT}" type="text" class="form-control" id="inputRt" />
			  </div>
			  
			  <div class="form-group">
			    <label for="inputRw">RW</label>
			    <input required="required" name="RW" th:value="${oldkeluarga.RW}" type="text" class="form-control" id="inputRw" />
			  </div>
			  
			  <div class="form-group">
			    <label for="inputKelurahan">Kelurahan</label>
			    <select required="required" name="id_kelurahan" class="form-control" id="inputKelurahan">
			    	<option th:each="kelurahan,iterationStatus: ${allkelurahan}" th:selected="${oldkeluarga.kelurahan.id} == ${kelurahan.id}" th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}+' (kec: ' + ${kelurahan.kecamatan.nama_kecamatan} + ', kota: ' + ${kelurahan.kecamatan.kota.nama_kota} + ') '"></option>
			    </select>
			  </div>
			  
			  
			  <button type="submit" class="btn btn-primary">Submit</button>
			  
		  </form>

          
        </main>
      </div>
    </div>

	<span th:replace="fragments/fragments :: footer"></span>
  </body>
</html>