<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/fragments :: head">
  </head>
  <body>
      <nav th:replace="fragments/fragments :: header">
      
    </nav>

    <div class="container">
      <div class="row">
        <main class="col-sm-12" role="main">
          <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ERROR!</h1>
          <p th:text="${errorMessage}">...</p>

          
        </main>
      </div>
    </div>


    <span th:replace="fragments/fragments :: footer"></span>
  </body>
</html>