<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/fragments :: head">
 
  </head>
  <body>
      <nav th:replace="fragments/fragments :: header">
     
    </nav>

    <div class="container">
      <div class="row">
        <main class="col-sm-12" role="main">
          <h1 th:text="'Lihat Data Penduduk - ' + ${penduduk.nik}">...</h1>
          
          <table>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">NIK</td>
          		<td th:text="${penduduk.nik}">...</td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Nama</td>
          		<td th:text="${penduduk.nama}">...</td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Tempat/Tanggal Lahir</td>
          		<td th:text="${penduduk.tempat_lahir} + ' / ' + ${penduduk.tanggal_lahir}">...</td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Jenis Kelamin</td>
          		<td th:switch="${penduduk.jenis_kelamin}">
          			<span th:case="'1'">Wanita</span>
          			<span th:case="'0'">Pria</span>
          		</td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Alamat</td>
          		<td th:text="${penduduk.keluarga.alamat}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">RT/RW</td>
          		<td th:text="${penduduk.keluarga.RT} + '/' + ${penduduk.keluarga.RW}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Kelurahan/Desa</td>
          		<td th:text="${penduduk.keluarga.kelurahan.nama_kelurahan}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Kecamatan</td>
          		<td th:text="${penduduk.keluarga.kelurahan.kecamatan.nama_kecamatan}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Kota</td>
          		<td th:text="${penduduk.keluarga.kelurahan.kecamatan.kota.nama_kota}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Golongan Darah</td>
          		<td th:text="${penduduk.golongan_darah}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Agama</td>
          		<td th:text="${penduduk.agama}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Status Perkawinan</td>
          		<td th:text="${penduduk.status_perkawinan}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Pekerjaan</td>
          		<td th:text="${penduduk.pekerjaan}"></td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Kewarganegaraan</td>
          		<td th:switch="${penduduk.is_wni}">
          			<span th:case="'1'">WNI</span>
          			<span th:case="'0'">Bukan WNI</span>
          		</td>
          	</tr>
          	<tr>
          		<td style="font-weight:bold; padding-right:30px">Status Kematian</td>
          		<td th:switch="${penduduk.is_wafat}">
          			<span th:case="'1'">Wafat</span>
          			<span th:case="'0'">Hidup</span>
          		</td>
          	</tr>
          	
          </table>
          <br/>
          
          <div class="row">
          	<div class="col-md-4">
	          	 <form th:action="@{/penduduk/mati}" method="POST">
				  <input name="nik" hidden="hidden" th:value="${penduduk.nik}"/>
				  <button type="submit" class="btn btn-warning"><i class="fa fa-user" aria-hidden="true"></i> Ubah Status Kematian menjadi 
				  <span th:switch="${penduduk.is_wafat}">
				  	<span th:case="'0'">Wafat</span>
	          		<span th:case="'1'">Hidup</span>
				  </span>
				  </button>
				  
			  </form>
          	</div>
          	
          	<div class="col-md-4">
	          	 <a th:href="'penduduk/ubah/' + ${penduduk.nik}" class="btn btn-warning"><i class="fa fa-cog" aria-hidden="true"></i>
	          	 Ubah Data</a>
          	</div>
          </div>
          
        </main>
      </div>
    </div>

	<span th:replace="fragments/fragments :: footer"></span>
  </body>
</html>